body {
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  font-weight: 300;
  position: relative;
}

#input {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  width: 300px;
  text-align: center;
}

#submit {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 20px;
  background: #f3f3f3;
  border: none;
}
