body {
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Crete Round', serif;
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
}

p {
  font-family: 'Montserrat', sans-serif;
}

#input {
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  width: 100px;
  text-align: center;
}

#buttons {
  color:white;
  background-color: #FF00FF;
  position:absolute;
  z-index:5;
  text-align: center;
  top:50px;
  width : 100%;
  height : 30px;
}
